---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import construction from '../images/image.png';
---

<html lang="en">
    <style>
	    hero {      display: flex;
                    justify-content: center;
	    			position: relative;
	    			overflow: hidden;
	    		}
	    img {
	    			display: block;
	    			width: 80%;
	    			height: auto;
	    		}
    </style>
    <body class="hero">
		<img
			class="img"
			src={construction}
			sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px"
		/>

	</body>
</html>
