        ---
        import construction from '../images/image.png';
        ---
<style>
    body {
        background-color: #F4F5F7;
    }

    img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;


    }
</style>

<html>
    <body class="body">
    <img
            class="img"
            src={construction}
    />
    </body>
</html>
